// Colors.
$primary-background-color: rgba(37, 42, 48, 1);
$transparent-primary-background-color: rgba(37, 42, 48, 0.8);
$primary-font-color: #b9b9b9;
$shadow-color: black;
$frame-color: #666;

// Navbar styles.
$navbar-desktop-height: 7rem;
$navbar-mobile-height: 5rem;
$navbar-font-size: 2.2rem;
$navbar-primary-color: #b9b9b9;
$navlink-color: #7ba4c6;
$navlink-active-color: #52c5e1;
$navlink-hover-color: #a6c4db;

// Font styles.
$handwriting-font: 'Allura', cursive;
$menu-font: 'Abel', sans-serif;
$font-size-desktop: 2.6rem;

// Durations.
$transition-duration: 0.4s;

// Mixins.
@mixin blurry-text-shadow($color) {
    text-shadow: 0 0 0 $color, 0 0 1rem $color;
}

@mixin box-shadow($arguments) {
    -webkit-box-shadow: $arguments;
    -moz-box-shadow: $arguments;
    box-shadow: $arguments;
}

// Media query stuff.
$max-album-width: 1275px;
$desktop-breakpoint: 1200px;
$mobile-breakpoint: 800px;
$mobile: 'screen and (max-width: #{$mobile-breakpoint})';
